@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
}

header a {
  text-decoration: none;
}

header {
  padding: 50px 220px;
  height: 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1F2937;
}

#brand {
  font-weight: bold;
  font-size: 18px;
  display: flex;
  align-items: center;
}

#brand img {
  width: 90px;
  height: 90px;
}

#brand a {
  color: #09c372;
}

ul {
  list-style: none;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

header ul a {
  color: white;
}

header ul li {
  padding: 5px;
  margin-left: 30px;
}

header ul li:hover {
  transform: scale(1.1);
  transition: 0.3s;
}

#hamburger-icon {
  margin: auto 0;
  display: none;
  cursor: pointer;
}

#hamburger-icon div {
  width: 35px;
  height: 3px;
  background-color: white;
  margin: 6px 0;
  transition: 0.4s;
}

.open .bar1 {
  -webkit-transform: rotate(-45deg) translate(-6px, 6px);
  transform: rotate(-45deg) translate(-6px, 6px);
}

.open .bar2 {
  opacity: 0;
}

.open .bar3 {
  -webkit-transform: rotate(45deg) translate(-6px, -8px);
  transform: rotate(45deg) translate(-6px, -8px);
}

.open .mobile-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.mobile-menu {
  display: none;
  position: absolute;
  top: 120px;
  left: 0;
  height: calc(100vh - 120px);
  width: 100%;
}

.mobile-menu li {
  margin-bottom: 10px;
}

@media only screen and (max-width: 600px) {
  header nav {
    display: none;
  }

  #hamburger-icon {
    display: block;
  }
}


/* 

*/

.header_logo_text {
  font-size: 24px;
  font-weight: 400;
  color: #F9FAF8;
  margin-right: auto;
}

.hero_main_text {
  font-size: 48px;
  font-weight: 900;
  color: #F9FAF8;
  margin-bottom: 10px;
}


.hero_secondary_text {
  font-size: 18px;
  font-weight: 400;
  color: #E5E7EB;
}


/*  */

.hero-container {
  padding: 50px 150px;
  height: 600px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex: 1 1 0px;
  background-color: #1F2937;
}

.HeroText, .HeroImage {
  flex-basis: 50%;
  height: 70%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero-padding {
  padding-left: 3%;
  padding-right: 15%;
  align-items: flex-start;
}

.HeroImage {
  background-color: dimgrey;
}

.cta_btn {
  background-color: #3882F6;
}

.signup {
  padding: 10px;
  width: 150px;
  margin-top: 10px;
  border-radius: 10px;
  background-color: #3882F6;
  font-size: 1.5rem;
  font-weight: 400;
  text-align: center;
  color: #F9FAF8;
  border: none;
}

.signup:hover {
  background-color: #2a69cd;
}

.signup:active {
  box-shadow: inset -2px -2px 3px rgba(255, 255, 255, 0.34),
              inset 2px 2px 3px rgba(0, 0, 0, .6);
}


/* 

*/

.info_header {
  font-size: 36px;
  font-weight: 900;
  color: #1F2937;
  text-align: center;
}

.info {
  padding: 50px 150px;
}

.info-container {
  height: 300px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin-top: 50px;
}

.infobox {
  flex-basis: 50%;
  height: inherit;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #2a69cd;
  border-radius: 20px;
  margin: 20px
}

/* 

*/

.quote-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 50px;
  background-color: #E5E7EB;
  padding: 7% 22%;
}

.quotes {
  font-size: 36px;
  font-weight: 300;
  font-style: italic;
  color: #1F2937;
}

.infobox {
  flex-basis: 50%;
  height: inherit;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #2a69cd;
  border-radius: 20px;
}

.thor {
  display: flex;
  align-self: flex-end;
}

.thor p {
  font-weight: 600;
  font-style: normal;
  /* margin-right: 1rem; */
}

/* 

*/

.cta-container {
  margin: 5% 10%;
  padding: 50px 150px;
  height: 250px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex: 1 1 0px;
  background-color: #3882F6;
}

.cta-padding {
  align-items: flex-start;
}

.ctaImage {
  background-color: 3882F6;
}

.cta_logo_text {
  font-size: 24px;
  font-weight: 600;
  color: #F9FAF8;
  margin-right: auto;
}

.ctabtn {
  padding: 10px;
  width: 180px;
  margin-top: 10px;
  border: 3px solid white;
  background-color: #3882F6;
  border-radius: 10px;
  font-size: 1.2rem;
  font-weight: 400;
  text-align: center;
  color: #F9FAF8;
}

.ctabtn:hover {
  background-color: #2a69cd;
}

.ctabtn:active {
  box-shadow: inset -2px -2px 3px rgba(255, 255, 255, 0.34),
              inset 2px 2px 3px rgba(0, 0, 0, .6);
}

footer {
  padding: 50px 220px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1F2937;
  color: white;
  font-size: 1.3rem;
  font-weight: 400;
}